[submodule "comp-camp"]
	path = comp-camp
	url = https://github.com/mon231/comp-camp.git
[submodule "whoami"]
	path = whoami
	url = https://github.com/mon231/mon231.git
[submodule "apkmod"]
	path = apkmod
	url = https://github.com/mon231/apkpatcher
[submodule "buildapp"]
	path = buildapp
	url = https://github.com/mon231/buildapp.git
[submodule "magicek"]
	path = magicek
	url = https://github.com/mon231/magicek.git
[submodule "com.rel.mujde"]
	path = com.rel.mujde
	url = https://github.com/mon231/com.rel.mujde
[submodule "common-frida-scripts"]
	path = common-frida-scripts
	url = https://github.com/mon231/common-frida-scripts.git
[submodule "pdf-search"]
	path = pdf-search
	url = https://github.com/mon231/pdf-search.git
[submodule "chess"]
	path = chess
	url = https://github.com/mon231/chess.git
[submodule "color-tweak"]
	path = color-tweak
	url = https://github.com/mon231/color-tweak.git
